<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title th:text="'Recommandations for ' + ${patient.family} + ' ' + ${patient.given}">Patient history</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:insert="fragments :: navbar"></nav>
<!--table-->
<div th:insert="fragments::card_template('Recommandations for ' + ${patient.family} + ' ' + ${patient.given}, ~{:: .form-content})">
    <!--Alerts-->
    <div th:insert="fragments :: alert"></div>
    <!--Table-->
    <section class="form-content table-responsive">
        <table class="table table-hover table-condensed">
            <tbody>
            <tr th:if="${!#lists.isEmpty(patHistory)}" th:each="note: ${patHistory}">
                <td th:text="${note.content}" colspan="6">Note/recommandation</td>
                <td colspan="3">
                    <div class="d-grid gap-2 d-md-block float-right">
                        <a th:href="@{/patient/${patient.id}/patHistory/update/${note.id}"
                           class="btn text-white" style="background-color:#5da1b4">Edit</a>

                        <a th:href="@{/patient/${patient.id}/patHistory/delete/${note.id}"
                           class="btn text-white" style="background-color:#e96f52">Delete</a>
                    </div>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(patHistory)}">
                <td colspan="9">
                    <div class="alert alert-info text-center">There are no notes yet.
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <a th:href="@{/patient/${patient.id}/patHistory/add}" class="btn text-white float-right" style="background-color: #1a8a9f">Add
                        new note</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<!--Footer-->
<footer th:insert="fragments :: footer"></footer>

</body>
</html>